
.maindiv{
    list-style: none;
}
.header {
    width: 752px;
    height: 237px;
    background-color: rgba(45, 112, 83, 1);
    display: flex;
}
.logoandlist{
    display: flex;
    width: 376px;
}
.circle{
    width: 144px;
    height: 144px;   
    background-color: rgba(255, 255, 255, 1);
    border-radius: 50%;
    margin-top: 46px;
    margin-left: 37px;
}
.divlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}
.divlist>li{
    color: white;
    font-size: 30px;
}
.menu{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 376px;
    margin-right: 44px;
}
.menu>div>li{
    width: 87px;
    height: 15px;
    background-color: rgba(255, 255, 255, 1);
    margin-bottom: 13px;
    border-top-left-radius: 10px ;
    border-top-right-radius:10px ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}
.photandbutton{
    width: 752px;
    height: 470px;
    background-image: url("photofirst.jpeg");
    background-position: center;
    
}
.photandbutton>button{
    width: 344px;
    height: 77px;
    background-color: rgba(203, 146, 35, 1);
    font-size: 24px;
    color: #FFFFFF;
    border: none;
    margin-top: 343px;
    margin-left: 204px ;
    
}
.photoandname{
    width: 752px;
    height: 375px;
    background-color: white;
    display: flex;
    
}
.photoof{
    width: 276px;
    height: 276px;
    background-image: url("phoyoone.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 54px;
    margin-left: 44px;
    
}
.aboutterapevt{
    width: 376px;
    
}
.aboutterapevt>h2{
    margin-top: 130px;
    margin-left: 68px;
    font-size: 36px;
}
.aboutterapevt>h3{
    margin-top: 15px;
    margin-left: 66px;
    font-size: 24px;
}
.describe{
    width: 752px;
    height: 200px;
    background-color: white;
    font-size: 24px;
    padding-top: 10px;
}
.ttt{
    width: 590px;
   
    margin-left: 45px;
    white-space: pre-line;
}
.peron{
    width: 752px;
    height: 45px;
    display: flex;
    
}
.peron>div{
    margin-left: 45px;
    font-size: 36px;
}
.listabout{
    display: flex;
    width: 752px;
}
.listabout>span{
    
    font-size: 24px;
    margin-left: 45px;
    margin-top: 30px;
    margin-bottom: 42px;
}
.secondbutton{
    display: flex;
    width: 752px;
    justify-content: center;
    margin-bottom: 47px;
    color: white;
}
.secbut{
    width: 344px;
    height: 77px;
    background-color: rgba(203, 146, 35, 1);
    font-size: 24px;
    color: #FFFFFF;
    border: none;
}
.footer{
    width: 752px;
    height: 156px;
    background-color: rgba(136, 136, 136, 1);
    display: flex;
}
.circletree{
   width: 99px;
   height: 99px;
   border-radius: 50%;
   background-color: white;
   margin-top: 29px;
   margin-left: 44px;
}
.streett{
  position: relative;
  top: 104px;
  left: 183px;
}
.phonenumber{
  position: relative;
  top: 58px;
  left: 250px;
}
.email{
  position: relative;
  top: 100px;
  left: 117px;

}
.about{
    width: 450px;
    color: white;
}